* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

html {
    
    margin: 0px;
    /*z-index: -1;*/
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    background-color: rgb(34, 34, 34);
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -5px 20px rgb(110, 61, 110);
    position: sticky;
    top: 0;
    z-index: 9998;
    
}

.nav-links {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2vh;
}

li {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(238, 130, 238, 0.123);
    font-size: 1.2rem;
    margin: 0 5vh;
    padding: .5vh 1.5vh;
    border: 1px solid white;
    border-radius: 10px;
}

li:hover {
    color: purple;
    background-color: white;
    
}

nav img {
    min-width: 80px;
    max-height: 5vh;
    object-fit: contain;
    padding: 1,5vh;

}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px 28px 5px 5px;
    background-color: white;
}

.burger {
    display: none;
}

.maincontainer {
    max-width: 100vw;
    height: 100vh;
    margin: 0 5px;
    padding: 0;
}

.mainparallax {
    margin: 0;
}

.text-wrapper {
    text-align: center;
}

.headline {
    font-family: 'Italianno', cursive;
    font-size: 7.3rem;
    color: khaki;
    font-weight: 300;
    line-height: 8rem;
    text-shadow: 0 0 8px black;
    margin: 0;
}

.sub-headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: khaki;
    margin: 2vw 0;
    text-shadow: 0 0 8px black;
    opacity: .8;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

.overflow {
    height: 200vh;
}

.containbox {
    width: 80vw;
    min-height: 30vh;
    max-height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    padding-bottom: 10vh;
    z-index: 1;
}

.box1 {
    min-width: 50vw; 
    min-height: 40vh;
    background-image: url('../img/KFC_0144x.png');
    background-size: cover;
    margin-left: 0vw;
    transform: opacity(0%);
    transition: transform .5s ease-in-out;
}

.box2 {
    min-height: 40vh;
    max-height: 60vh;
    margin-left: 0vw;
    padding: 3vh 2.2vw;
    color: white;
    line-height: 1.5rem;
    font-family: montserrat;
    z-index: -2;
    overflow: auto;
}
      

@media screen and (max-width: 768px){
    
    body {
       overflow-x: hidden;
       touch-action: auto;
       

    }
    
    nav {
        background-color: rgb(34, 34, 34);
        width: 100vw;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 -5px 20px rgb(110, 61, 110);
        position: sticky;
        overflow: hidden;
    }
    
   .nav-links {
        width: 36vw;
        color: white;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        right: 0vh;
        margin: 0;        
        position: absolute;
        height: 92vh;
        top: 8vh;
        background-color: rgba(58, 32, 58, 0.5);
        padding: 2vh 0 0 0;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
    }
    
    nav li {
        font-family: 'Montserrat', sans-serif;
        background-color: rgba(0, 0, 0, 0.746);
        font-size: 1.2rem;
        margin: 1vh 5vh;
        padding: .5vh 1.5vh;
        border: 1px solid white;
        border-radius: 10px;
        opacity: 0;
        cursor: pointer;
        transition: transform 0.1s ease-in;
    }
    
    li:hover {
        color: purple;
        background-color: white;
        transform: scale(1.06);
    }
    
    nav img {
        max-height: 5vh;
        object-fit: contain;
        padding: 1,5vh;
    }
    
    .burger div{
        width: 25px;
        height: 3px;
        margin: 5px 28px 5px 5px;
        background-color: white;
        transition: all .3s ease;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active{
        transform: translate(0);
        overflow: visible;
    }

    .maincontainer {
        max-width: 100vw;
        max-height: 100vh;
        margin: 7vh 5px;
        padding: 0;
    }
    
    .mainparallax {
        margin: 0;
    }
    
    .text-wrapper {
        text-align: center;
        margin: 0 7vw 30vh 7vw; 
        z-index: 1;
        padding: 5vh;
    }
    
    .headline {
        font-family: 'Italianno', cursive;
        font-size: 7.3rem;
        color: khaki;
        font-weight: 300;
        line-height: 8rem;
        text-shadow: 0 0 8px black;
        margin: 0;
    }
    
    .sub-headline {
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        color: khaki;
        margin: 2vw 0;
        text-shadow: 0 0 8px black;
        opacity: .8;
    }
    
    .hero {
        max-width: 100vw;
        height: auto;
    }
    
    .parallax {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: -1;
    }
    
    .containbox {
        margin: auto;
        top: 50vh;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    .box1 {
        background-color: lawngreen;
        background-image: url('../img/KFC_0144x.png');
        background-size: cover;
    }

    .box2 {
        text-align: center;
        line-height: 1.8rem;
        overflow: visible;
    }
    

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 0.9;
            transform: translateX(0);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }


    
}

@media screen and (max-width: 480px){
    
    body {
        overflow-x: hidden;
    }
  
    
    nav {
        background-color: rgb(34, 34, 34);
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 -5px 20px rgb(110, 61, 110);
        position: sticky;
        top:0;
        overflow: hidden;
    }
    
    .nav-links {
        width: 50vw;
        color: white;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        right: 0vh;
        margin: 0;        
        position: absolute;
        height: 92vh;
        top: 8vh;
        background-color: rgba(58, 32, 58, 0.876);
        padding: 2vh 0 0 0;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
    }
    
    nav li {
        font-family: 'Montserrat', sans-serif;
        background-color: rgba(0, 0, 0, 0.746);
        font-size: 1.2rem;
        margin: 1vh 5vh;
        padding: .5vh 1.5vh;
        border: 1px solid white;
        border-radius: 10px;
        opacity: 0;
        cursor: pointer;
        transition: transform 0.1s ease-in;
    }
    
    li:hover {
        color: purple;
        background-color: white;
        transform: scale(1.06);
    }
    
    nav img {
        max-height: 5vh;
        object-fit: contain;
        padding: 1,5vh;
    
    }
    
    .text-wrapper {
        text-align: center;
        vertical-align: middle;
        padding: 2vh;
    }

    .headline {
        font-family: 'Italianno', cursive;
        font-size: 4.3rem;
        color: khaki;
        font-weight: 300;
        line-height: 4.5rem;
        text-shadow: 1px 1px 1px black;
        margin: 0 0 0vw 0;
    }
    
    .sub-headline {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        color: khaki;
        margin: 0vw 0 110vw 0;
        padding: 0vw 0;
        text-shadow: 0 0 8px black;
        opacity: .8;
    }

    .burger div{
        width: 25px;
        height: 3px;
        margin: 5px 28px 5px 5px;
        background-color: white;
        transition: all .3s ease;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active{
        transform: translate(0);
        overflow: visible;
    }

    

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 0.9;
            transform: translateX(0);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }

    .containbox {
        position: absolute;
        top: 60vh;
        margin: 7vh 7vh;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .box1 {
        background-color: none;
        background-size: fill;
        background-position: center;
        max-width: 90vw; 
    }

    .box2 {
        text-align: center;
        line-height: 1.8rem;
        overflow: visible;
        padding-bottom: 60vh;
    }

    .parallax {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
        z-index: -1;
    }

}